<template>
  <div>
    <el-upload ref="handUpLoad"
               :limit="1"
               action=""
               :before-remove="beforeRemove"
               :on-exceed="handleExceed"
               :on-error="onError"
               :http-request="handUpLoad">
      <el-button type="primary">上传<i class="el-icon-upload el-icon--right"></i></el-button>
    </el-upload>
  </div>
</template>

<script>
import SparkMD5 from 'spark-md5'
import { uploadChunk, checkFile, mergeFile } from '@/api/file/oss'
export default {
  name: 'bidder',
  data() {
    return {}
  },
  methods: {
    onError() {},
    handUpLoad(option) {
      console.log(option);
      const { data, file, filename, onProgress } = option
      const chunkSize = 1024 * 1024 * 5 // 单个分片大小，这里测试用5m
      let md5 = '' // 文件的唯一标识
      const optionFile = file // 需要分片的文件
      let fileChunkedList = [] // 文件分片完成之后的数组
      const percentage = [] // 文件上传进度的数组，单项就是一个分片的进度
      const spark = new SparkMD5.ArrayBuffer() // md5的ArrayBuffer加密类
      const fileReader = new FileReader() // 文件读取类
      // 文件开始分片，push到fileChunkedList数组中， 并用第一个分片去计算文件的md5
      for (let i = 0; i < optionFile.size; i = i + chunkSize) {
        const tmp = optionFile.slice(
          i,
          Math.min(i + chunkSize, optionFile.size)
        )
        if (i === 0) {
          fileReader.readAsArrayBuffer(tmp)
        }
        fileChunkedList.push(tmp)
      }
      // 在文件读取完毕之后，开始计算文件md5，作为文件唯一标识
      fileReader.onload = async (e) => {
        spark.append(e.target.result)
        md5 = spark.end() + new Date().getTime()
        console.log('文件唯一标识--------', md5)
        // 组装分片请求参数
        fileChunkedList = fileChunkedList.map((item, index) => {
          const formData = new FormData()
          if (data) {
            // 额外加入外面传入的data数据
            Object.keys(data).forEach((key) => {
              formData.append(key, data[key])
            })
          }
          // 这些字段看后端需要哪些，就传哪些，也可以自己追加额外参数
          formData.append(filename, item, file.name) // 文件
          formData.append('chunkNumber', index + 1) // 当前文件块
          formData.append('chunkSize', chunkSize) // 单个分块大小
          formData.append('currentChunkSize', item.size) // 当前分块大小
          formData.append('totalSize', optionFile.size) // 文件总大小
          formData.append('identifier', md5) // 文件标识
          formData.append('filename', file.name) // 文件名
          formData.append('totalChunks', fileChunkedList.length) // 总块数
          return { formData: formData, index: index }
        })
        // 更新上传进度条百分比的方法
        const updataPercentage = (e) => {
          let loaded = 0 // 当前已经上传文件的总大小
          percentage.forEach((item) => {
            loaded += item
          })
          e.percent = (loaded / optionFile.size) * 100
          onProgress(e)
        }
        function upload(chunks, limit = 2) {
          return new Promise((resole, reject) => {
            const { length } = chunks
            let counter = 0
            let isStop = false
            const start = async () => {
              if (isStop) {
                return
              }
              const item = chunks.shift()
              if (item) {
                const { index, formData } = item
                     uploadChunk(formData).then((res) => {
                      if (res.data === false) {
                        isStop = true
                        reject("上传失败")
                      }
                      if (e.total > 0) {
                        e.percent = (e.loaded / e.total) * 100
                      }
                      percentage[index] = e.loaded
                      updataPercentage(e)
                      if (counter === length - 1) {
                        // 最后一个上传完成
                        resole()
                      } else {
                        counter++
                        start()
                      }
                    })
              }
            }
            while (limit > 0) {
              setTimeout(() => {
                start()
              }, Math.random() * 1000)
              limit -= 1
            }
          })
        }
        try {
          // 调用上传队列方法 等待所有文件上传完成
          await upload(fileChunkedList, 2)
          // 这里的参数根据自己实际情况写
          const data = {
            identifier: md5,
            filename: file.name,
            totalSize: optionFile.size,
            contentType: file.type,
          }
          const fileInfo = await mergeFile(JSON.stringify(data))
          if (fileInfo.code === 200) {
            const success = getBody(fileInfo.request)
            option.onSuccess(success)
            return
          }
        } catch (error) {
          option.onError(error)
        }
      }
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 1个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      )
    },
    beforeRemove(file) {
      console.log('beforeRemove')
      // 如果正在分片上传，则取消分片上传
      alert('取消')
    },
  },
}
</script>
<style scoped lang="scss"></style>
